<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
        </head>

        <body style="background-color:yellow;"></bodystyle>

        
    <header>
            
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">Blog Library</a></li>
                <li><a href="/newpost">Create Your Blog</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                </ul>
        </nav>
       
        
       
    </header>
      
              
    

    {% block content %}
    {% endblock %}

</body>
</html>